<div class="bg">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Video Player</mat-card-title>
    </mat-card-header>
    <!-- <div align="end">
      <button mat-stroked-button><mat-icon class="mt-icn-mode">lightbulb_outline</mat-icon> Modo Escuro</button>
    </div> -->

    <mat-card-content>
      <div>
        <video class="dv-video" id="video1" width="640" height="360">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        </video>
      </div>
    </mat-card-content>

    <div align="end">
          <button class="btn-screen" mat-button title="Tela MiniPlayer" (click)="makeSmall()"><mat-icon>close_fullscreen</mat-icon></button>
          <button class="btn-screen" mat-button title="Tela Normal" (click)="makeNormal()"><mat-icon>open_in_full</mat-icon></button>
          <button class="btn-screen" mat-button title="Tela Fullscreen" (click)="makeFull()"><mat-icon>fullscreen</mat-icon></button>
    </div>


    <div align="center">
      <button mat-raised-button (click)="playPause()">
        <mat-icon> play_circle_outline </mat-icon>
     </button>
        <!-- <mat-icon> pause_circle_outline </mat-icon> -->
    </div>

</mat-card>
</div>



