<div class="bg">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Player - catHarry</mat-card-title>
      <div class="btn-mode">
        <button
          mat-stroked-button
          class="btn-mode-title"
          (click)="darkOrLight($event)"
        >
          <mat-icon *ngIf="modeDark === false" class="mt-icn-mode" title="Light Mode"> tips_and_updates </mat-icon>
          <mat-icon *ngIf="modeDark === true" class="mt-icn-mode" title="Dark Mode"> lightbulb_outline </mat-icon>
        </button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div>
        <video
          class="dv-video"
          id="catHarry"
          width="426"
          height="240"
          poster="assets/capa.jpg"
          preload="auto"
        >
          <source src="assets/catHarry.mp4" type="video/mp4" />
        </video>
      </div>
    </mat-card-content>

    <div align="end">
      <button
        class="btn-screen"
        title="Small"
        (click)="makeSmall()"
      >
        <mat-icon class="mt-icn-screen">close_fullscreen</mat-icon>
      </button>
      <button
        class="btn-screen"
        title="Default"
        (click)="makeNormal()"
      >
        <mat-icon class="mt-icn-screen">open_in_full</mat-icon>
      </button>
      <button
        class="btn-screen"
        title="Big"
        (click)="makeBig()"
      >
        <mat-icon class="mt-icn-screen">fullscreen</mat-icon>
      </button>
    </div>

    <!-- Rewind 10-->
    <div class="dv-item-controls">
      <button class="btn-controls" (click)="mute()" title="Mute">
        <mat-icon class="mt-icn-controls-second"> volume_off </mat-icon>
      </button>
<!--
      <button class="btn-controls" title="Retroceder">
        <mat-icon class="mt-icn-controls"> replay_10 </mat-icon>
      </button> -->
      <!-- Play / Pause -->
      <button
        class="btn-controls"
        *ngIf="status === true || videoEnd === true"
        (click)="playPause()"
        title="Play"
      >
        <mat-icon class="mt-icn-controls"> play_circle </mat-icon>
      </button>
      <button
        class="btn-controls"
        *ngIf="status === false"
        (click)="playPause()"
        title="Pause"
      >
        <mat-icon class="mt-icn-controls"> pause_circle </mat-icon>
      </button>
      <!-- Forward 10 -->
      <!-- <button class="btn-controls" title="Avançar">
        <mat-icon class="mt-icn-controls"> forward_10 </mat-icon>
      </button> -->
      <!-- Speed 2.0 -->
      <button class="btn-controls" (click)="forward()" title="Speed 2X">
        <mat-icon class="mt-icn-controls-second"> fast_forward </mat-icon>
      </button>

    </div>
  </mat-card>
</div>
