mat-card {
  margin: 0 30px;
  max-width: 1280px;
}

.bg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.btn-screen {
  min-width: 6px;
  padding: 0;
}

.mt-icn-screen {
  font-size: 13pt;
}

.mt-icn-mode {
  font-size: 21px;
}

.btn-mode {
  margin-bottom: 5px;
}

.btn-mode-title {
  font-size: 8pt;
}

.mt-icn-controls {
  font-size: 30pt;
  height: 30px ;
  width: 60px;
}

.btn-controls {
  border: none;
  min-width: 1px;
  padding: 0 0px;
}
