mat-card {
  display: flex;
  padding: 20px;

  background-color: var(--color-bg-card);
}

mat-card-title {
  color: var(--color-text);
  font-size: 25pt;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
}

.mat-mdc-card-content {
  padding: 10px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mode {
  margin-bottom: 5px;
  color: var(--color-text);
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.mode__lamp {
  align-items: center;
  margin-left: 20px;
  border-color: var(--color-mode);
}

.mode__lamp--light,
.mode__lamp--dark {
  color:var(--color-mode);
  font-size: 20pt;
}

.controls__bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}

.control__bar__player__voloff,
.control__bar__player__replay10,
.control__bar__player__play,
.control__bar__player__pause,
.control__bar__player__forward10,
.control__bar__player__fastforward {
  padding: 10px;
  background-color: var(--color-bg);
  color: var(--color-player);
}

.control__bar__player__pause,.control__bar__player__play:active {
  color: rgb(76, 146, 215);
}

.controls__bar__screen__small,
.controls__bar__screen__big {
  padding: 10px 2px;
  background-color: var(--color-bg);
  color: var(--color-player);
}

.controls__bar__screen__icon {
  font-size: 18px;
}

.control__bar__player__icon{
  font-size: 25px;
}
