<div class="bg">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Video Player</mat-card-title>
    </mat-card-header>
    <!-- <div align="end" class="btn-mode">
      <button mat-stroked-button class="btn-mode-title" title="Mode Light"><mat-icon class="mt-icn-mode">tips_and_updates</mat-icon>Light</button>
    </div> -->

    <mat-card-content>
      <div>
        <video class="dv-video" id="video1" width="426" height="240" poster="assets/capa.jpg" preload="auto">
          <source src="assets/catHarry.mp4" type="video/mp4">
        </video>
      </div>
    </mat-card-content>

    <div align="end">
          <button class="btn-screen" mat-button title="Tela MiniPlayer" (click)="makeSmall()"><mat-icon class="mt-icn-screen">close_fullscreen</mat-icon></button>
          <button class="btn-screen" mat-button title="Tela Normal" (click)="makeNormal()"><mat-icon class="mt-icn-screen">open_in_full</mat-icon></button>
          <button class="btn-screen" mat-button title="Tela Fullscreen" (click)="makeFull()"><mat-icon class="mt-icn-screen">fullscreen</mat-icon></button>
    </div>


    <div align="center">
      <button mat-raised-button (click)="playPause()">
        <mat-icon> play_circle_outline </mat-icon>
     </button>
        <!-- <mat-icon> pause_circle_outline </mat-icon> -->
    </div>

</mat-card>
</div>



