/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background: linear-gradient(45deg, #64568f 10%,#42718a , #54428a 90% ) no-repeat  }

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

:root {
  --color-icons: #838383;
  --color-player: #000;
  --color-player-second: #838383;
  --color-text: #000;
  --color-mode: #ddbd30c7;
  --color-bg-card: #ffffff81;
}

.dark-mode:root {
  --color-icons: #838383;
  --color-player: #fff;
  --color-player-second: #838383;
  --color-text: #fff;
  --color-mode: #54428a;
  --color-bg-card: #1b1b1b85;
}

.mat-card-header .mat-card-title {
  font-size: 24px;
}

