/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-color: var(--color-bg);}

:root {
  --color-icons: #838383;
  --color-player: #000;
  --color-text: #000;
  --color-mode: #f1cf37c7;
  --color-bg: #fff;
  --color-bg-card: #fff;
}

.dark-mode:root {
  --color-icons: #838383;
  --color-player: #fff;
  --color-text: #fff;
  --color-mode: #4e3a8a;
  --color-bg: #1b1b1b;
  --color-bg-card: #1b1b1b;
}
